DJANGO_DEBUG=1
DJANGO_SECRET_KEY=CAMBIAR_ESTA_CLAVE
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000

DATABASE_URL=postgres://tu_usuario:tu_passwor@db:5432/tu_base_de_datos
DB_CONN_MAX_AGE=60

REDIS_URL=tu_redis_url
CELERY_BROKER_URL=tu_redis_url
CELERY_RESULT_BACKEND=tu_redis_url

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.example.com
EMAIL_PORT=tu_puerto
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=1
DEFAULT_FROM_EMAIL=no-responder@lab.example.com

RESULT_LINK_BASE_URL=tu_dominio.com/resultado
RESULT_TOKEN_TTL_HOURS=24

AXES_ENABLED=0